In [5]:
# Dependencies and Setup

import pandas as pd
import numpy as np

In [11]:
steam_final_cleaned = pd.read_csv('../Scraped Data/steam_final_cleaned.csv', encoding='utf-8-sig')
steam_final = steam_final_cleaned[['appid', 'metascore', 'recommendations', 'positive', 'negative', 'developer', 'publisher']]
steam_final

,appid,metascore,recommendations,positive,negative,developer,publisher
0,10,88.0,100006.0,169280.0,4360.0,Valve,Valve
1,20,0.0,3754.0,4628.0,800.0,Valve,Valve
2,30,79.0,2779.0,4527.0,493.0,Valve,Valve
3,40,0.0,1276.0,1651.0,353.0,Valve,Valve
4,50,0.0,8162.0,9938.0,520.0,Gearbox Software,Valve
...,...,...,...,...,...,...,...
41762,1513450,NaN,NaN,11.0,0.0,undies,undies
41763,1514890,NaN,NaN,3.0,2.0,William at Oxford,William at Oxford
41764,1514910,NaN,NaN,6.0,58.0,Lure Corporation,Lure Corporation
41765,1515040,NaN,NaN,2.0,3.0,Sokpop Collective,Sokpop Collective
41766,1519770,NaN,NaN,6.0,0.0,Sokpop Collective,Sokpop Collective

In [12]:
all_param_binary_tags = pd.read_csv('../reduced_data/all_param_binary_tags.csv')
all_param_binary_tags.sort_values(by=['appid'])

,appid,maxccu,success_class,suc_class,followers,positive,negative,maxprice,maxdiscount,totaltags,...,tagphilisophical,taggaming,tagfaith,tagmysterydungeon,tagfeaturefilm,tagsteammachine,tagclicker,taghardware,tag360video,tagvronly
39589,10,31930,A,1,257874,170805,4407,999,90,31989,...,0,0,0,0,0,0,0,0,0,0
38434,20,236,F,0,8353,4691,815,499,90,3123,...,0,0,0,0,0,0,0,0,0,0
38410,30,364,F,0,6468,4564,500,499,90,4836,...,0,0,0,0,0,0,0,0,0,0
37198,40,629,F,0,2149,1668,360,499,90,1318,...,0,0,0,0,0,0,0,0,0,0
38950,50,620,F,0,8154,10197,535,499,90,3163,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6368,1513450,4,F,0,24,3,0,799,0,448,...,0,0,0,0,0,0,0,0,0,0
2458,1514890,3,F,0,18,1,0,239,40,209,...,0,0,0,0,0,0,0,0,0,0
5734,1514910,35,F,0,238,2,37,0,0,7563,...,0,0,0,0,0,0,0,0,0,0
5410,1515040,5,F,0,20,2,3,299,0,475,...,0,0,0,0,0,0,0,0,0,0
9357,1519770,4,F,0,13,5,0,299,0,264,...,0,0,0,0,0,0,0,0,0,0

In [13]:
steam_all_param_binary = pd.merge(steam_final, all_param_binary_tags, on="appid", how="right")
steam_all_param_binary.sort_values(by=['appid'])

,appid,metascore,recommendations,positive_x,negative_x,developer,publisher,maxccu,success_class,suc_class,...,tagphilisophical,taggaming,tagfaith,tagmysterydungeon,tagfeaturefilm,tagsteammachine,tagclicker,taghardware,tag360video,tagvronly
0,10,88.0,100006.0,169280.0,4360.0,Valve,Valve,31930,A,1,...,0,0,0,0,0,0,0,0,0,0
1,20,0.0,3754.0,4628.0,800.0,Valve,Valve,236,F,0,...,0,0,0,0,0,0,0,0,0,0
2,30,79.0,2779.0,4527.0,493.0,Valve,Valve,364,F,0,...,0,0,0,0,0,0,0,0,0,0
3,40,0.0,1276.0,1651.0,353.0,Valve,Valve,629,F,0,...,0,0,0,0,0,0,0,0,0,0
4,50,0.0,8162.0,9938.0,520.0,Gearbox Software,Valve,620,F,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39578,1513450,NaN,NaN,11.0,0.0,undies,undies,4,F,0,...,0,0,0,0,0,0,0,0,0,0
39579,1514890,NaN,NaN,3.0,2.0,William at Oxford,William at Oxford,3,F,0,...,0,0,0,0,0,0,0,0,0,0
39580,1514910,NaN,NaN,6.0,58.0,Lure Corporation,Lure Corporation,35,F,0,...,0,0,0,0,0,0,0,0,0,0
39581,1515040,NaN,NaN,2.0,3.0,Sokpop Collective,Sokpop Collective,5,F,0,...,0,0,0,0,0,0,0,0,0,0
39582,1519770,NaN,NaN,6.0,0.0,Sokpop Collective,Sokpop Collective,4,F,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
steam_all_param_binary.to_csv('../reduced_data/steam_all_param_binary_tags_merged.csv', encoding='utf-8-sig', index = False)

In [15]:
all_param = pd.read_csv('../reduced_data/all_param.csv')
all_param

,appid,maxccu,success_class,suc_class,followers,positive,negative,maxprice,maxdiscount,totaltags,...,tagphilisophical,taggaming,tagfaith,tagmysterydungeon,tagfeaturefilm,tagsteammachine,tagclicker,taghardware,tag360video,tagvronly
0,1272460,2,F,0,32,0,1,1899,60,127,...,0,0,0,0,0,0,0,0,0,0
1,380130,1,F,0,620,0,1,499,10,168,...,0,0,0,0,0,0,0,0,0,0
2,398950,2,F,0,246,0,1,499,10,40,...,0,0,0,0,0,0,0,0,0,0
3,381290,1,F,0,390,0,1,999,0,73,...,0,0,0,0,0,0,0,0,0,0
4,431470,1,F,0,55,0,1,699,90,111,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39619,440,147360,AAA,1,0,703615,44046,0,0,261208,...,0,0,0,0,0,0,0,0,0,0
39620,359550,199307,AAA,1,1162283,741118,99312,5999,75,77135,...,0,0,0,0,0,0,0,0,0,0
39621,578080,3257248,AAA,1,3450113,885668,757174,2999,50,98104,...,0,0,0,0,0,0,0,0,0,0
39622,570,1295107,AAA,1,0,1217813,224709,0,0,184987,...,0,0,0,0,0,0,0,0,0,0
39623,730,1308963,AAA,1,0,4598654,621427,1499,50,740953,...,0,0,0,0,0,0,0,0,0,0

In [16]:
steam_all_param = pd.merge(steam_final, all_param, on="appid", how="right")
steam_all_param

,appid,metascore,recommendations,positive_x,negative_x,developer,publisher,maxccu,success_class,suc_class,...,tagphilisophical,taggaming,tagfaith,tagmysterydungeon,tagfeaturefilm,tagsteammachine,tagclicker,taghardware,tag360video,tagvronly
0,10,88.0,100006.0,169280.0,4360.0,Valve,Valve,31930,A,1,...,0,0,0,0,0,0,0,0,0,0
1,20,0.0,3754.0,4628.0,800.0,Valve,Valve,236,F,0,...,0,0,0,0,0,0,0,0,0,0
2,30,79.0,2779.0,4527.0,493.0,Valve,Valve,364,F,0,...,0,0,0,0,0,0,0,0,0,0
3,40,0.0,1276.0,1651.0,353.0,Valve,Valve,629,F,0,...,0,0,0,0,0,0,0,0,0,0
4,50,0.0,8162.0,9938.0,520.0,Gearbox Software,Valve,620,F,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39619,891790,NaN,NaN,NaN,NaN,NaN,NaN,20,F,0,...,0,0,0,0,0,0,0,0,0,0
39620,792660,NaN,NaN,NaN,NaN,NaN,NaN,65,F,0,...,0,0,0,0,0,0,0,0,0,0
39621,1196310,NaN,NaN,NaN,NaN,NaN,NaN,395,F,0,...,0,0,0,0,0,0,0,0,0,0
39622,115300,NaN,NaN,NaN,NaN,NaN,NaN,5,F,0,...,0,0,0,0,0,0,0,0,0,0
39623,900883,NaN,NaN,NaN,NaN,NaN,NaN,0,F,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
steam_all_param.to_csv('../reduced_data/steam_all_param_merged.csv', encoding='utf-8-sig', index = False)